<meta charset="UTF-8" />


<link type="text/css" rel="stylesheet" href="../stylesheet/base.css" />
<link type="text/css" rel="stylesheet" href="../stylesheet/card.css" />

<style>
@charset "utf-8";
@font-face{
	font-family:"NanumMyeongjo";
	src:url('../fonts/NanumMyeongjo.eot');
	src:url('../fonts/NanumMyeongjo.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NanumMyeongjo.woff') format('woff'),
	url('../fonts/NanumMyeongjo.ttf') format('truetype');
	src:local(※), url('../fonts/NanumMyeongjo.woff') format('woff');

	font-style: normal;
	font-weight: normal;
}

body {
	background-color: gray;
	text-align: center;
	font-family: 'NanumMyeongjo';
	color: #555;
}
.card {
	width: 496px;
	padding: 20px;
}

.card-section.article-preview {
	font-size: 16px;
	text-align: left;
}
.card-section.article-preview > h1 {
	font-size: 2em;
	margin-bottom: 15px;
	color: #333;
}
.card-section.article-preview > p {
	font-size: 1em;
	line-height: 1.5em;
}
</style>
<div class="card">
	<div class="card-section article-preview">
		<h1>미 SBC, AT&T 인수합의 발표</h1>
		<p>유선통신업계 1위 도약 발판 미국 내 2위의 지역 통신업체인 에스비시(SBC) 커뮤니케이션스가 31일 업계 3위인 에이티앤티(AT&T)를 약 160억달러에 인수하기로 합의해 미국 최대의 통신회사가 될 수 있는 발판을 마련했다. 진실을 위해 현장에서 뛰는 기자</p>
	</div>
</div><div class="card">
	<div class="card-section article-preview">
		<h1>세월호 취재기자 4명의 독백…“우린 모두 ‘기레기’였다”</h1>
		<p>진실을 위해 현장에서 뛰는 기자, 상상만으로 가슴 벅찬 이름이었다. 배운 대로, 해온 대로, 동가식서가숙하며 취재했지만 돌아보니 어느 순간 ‘기레기’가 되어 있었다. ‘전원 구조’를 비롯한 잇단 오보와 정부 발표를 받아쓴 기사, 희생자 가족들에게 가해진 무분별한 카메라의 폭력….</p>
	</div>
</div>

