<link type="text/css" rel="stylesheet" href="/stylesheet/account.css" />
<div class="change-pw-container">
<form class="form-container">
	<input name="randomNumber" type="hidden" value="<%= randNum %>" />
	<input class="input" type="email" id="email" name="email" readonly="readonly"  data-check="true" value="<%= email %>"/>
	<input class="input" type="password" id="old-pw" name="oldPassword" placeholder="기존 비밀번호를 입력하세요" data-check="true"/>
	<label for="oldPassword" class="form-msg msg-oldPassword"></label>
	<input class="input" type="password" id="new-pw" name="newPassword" placeholder="새로운 비밀번호를 입력하세요" data-check="true"/>
	<label for="newPassword" class="form-msg msg-newPassword"></label>
	<input class="input" type="password" id="confirm" name="newConfirm" placeholder="다시 한 번 입력해주세요" data-check="true"/>
	<label for="newConfirm" class="form-msg msg-newConfirm"></label>
	<input class="button disable" type="button" id="change" value="비밀번호 변경하기"/>
</form>
</div>