.form-container {
	padding: 20px;
	height: 100%;
}
.input {
	display: block;
	width: 250px;
	height: 30px;
	margin: 20px auto;
	padding-left: 5px;
}

.button {
	display: block;
	width: 90px;
	height: 45px;
	margin: 0 auto;
}

.form-container {
	background: #DDD;
}

.input {
	border: 0;
	font-size: 20px;
	color: #777;
}

.button {
	outline: none;
	border: 0 none;
	font-size: 20px;
}