@CHARSET "UTF-8";

/* Base rules */
html, 
body,
div,
h1, h2, h3, h4, h5, h6, 
p {
	margin: 0;
	padding: 0;	
	font-family: Apple SD Gothic Neo;
}

/** Stop Safari Mobile from giving input buttons rounded corners **/
/** Text wont center in a button **/
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  padding: 0px;
}

ul,
h1, h2, h3, h4, h5 ,h6 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
	-moz-padding-start: 0;
}

ul, li {
	list-style: none;
}

/* Grid Layout */
.col-md-1 {
	width: 8.3333333333333333333%;
}
.col-md-2 {
	width: 16.6666666666666666666%;
}
.col-md-3 {
	width: 25%;
}
.col-md-4 {
	width: 33.33333333333333333333%;
}
.col-md-6 {
	width: 50%;
}
.col-md-8 {
	width: 66.66666666666666666666%;
}
