@CHARSET "UTF-8";

/* Layout rules */
html, 
body {
	height: 100%;
}

.wrap {
	position: relative;
	width: 100%;
	min-height: 100%;	
}

.header {
	width: 100%;
	height: 50px;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding-bottom: 70px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
}

.search-result {
	padding-bottom: 45px;
}

/* Module rules */
.logo {
	margin-top: 40px;
	text-align: center;
}

.logo-image {
	height: 210px;
	opacity: .4;
}

/* Theme rules */
.wrap {
	background-color: rgba(0,0,0,.1);
}

.header {
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
	background: #f5f5f5;
}

.footer {
	background: #f2f2f2;
	border-top: 1px solid #CFCFCF;
}

/* 뷰포트 별 레이아웃 요소 분기 */

/** ipad **/
@media only screen 
/* and (min-width : 768px) */
and (min-width : 650px)
and (max-width : 1024px)  {
	.container {
		width: 640px;
	}
}


/** pablet **/
@media only screen 
/* and (min-width : 511px) */
/* and (max-width : 767px)  { */
and (max-width : 650px)  
and (min-width : 490px) {
	.container {
		width: 475px;
	}
}

/** iphone **/
@media only screen 
and (max-width : 490px)  {
	.container {
		width:95%;
	}
	.logo {
		margin-top: 0px;
	}
	.logo-image {
		height: 120px;
		margin: 15px;
	}	
}