@CHARSET "UTF-8";
/* Base rule */
.card {
	-webkit-user-select: NONE;
	-khtml-user-select: NONE;
	-moz-user-select: NONE;
	-ms-user-select: NONE;
	user-select: NONE;
}

/* Layout rule */
.card {
	display: inline-block;
	position: relative;
	border-width: 1px;
	margin: 6px 3px;
	padding: 0;
}

.card-reporter {
	width: 309px;
}

.card-section { 
	width: 100%;
	border-bottom-width: 1px;
}

.card-section.card-tail {
	border-bottom: none;
}

.card-section-identity  {
	position: relative;
}

.card-section-identity > .name {
	padding: 12px;
	padding-bottom: 0px;
}

.card-section-identity > .email {
	margin-top: 5px;
	padding: 12px;
	padding-top: 0px;
}

.card-section-identity > .press-tag {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 20px;
	height: 20px;
}

.card-section-headline {
	bottom: 0;
	text-overflow-mode: ellipsis;
}

.card-section-headline > .headline {
	padding: 12px;
}

/* Theme rule */
.card {
	-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.25);
	border-style: solid;
	border-color: #DDD;
	border-radius: 3px;
	background: #fff;
}

.card-section { 
	border-bottom-style: solid;
	border-bottom-color: #DDD;
}
.card-section-identity > .name > a {
	font-size: 18px;
	text-decoration: none;
	color: #666;
} 

.card-section-identity > .email {	
	font-size: 12px;
	color: #BBB;
}

.card-section-identity > .press-tag {	
	border-radius: 10px;
	background: #DDD;		
}

.card-section-headline {
	color: #666;
}

.card-section-headline > .headline {
	font-weight: 400;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;
}

/* Press Color */
.card-section-identity > .press-tag.hankyung {
	background: rgb(19,60,110);	
}
.card-section-identity > .press-tag.donga {
	background: rgb(251,65,42);	
}
.card-section-identity > .press-tag.hani {
	background: rgb(0,140,133);	
}
.card-section-identity > .press-tag.joongang {
	background: rgb(255,170,51);	
}

