@CHARSET "UTF-8";
/* Base rule */
.card {
	-webkit-user-select: NONE;
	-khtml-user-select: NONE;
	-moz-user-select: NONE;
	-ms-user-select: NONE;
	user-select: NONE;
}

/* Layout rule */
.card {
	display: inline-block;
	position: relative;
	border-width: 1px;
	margin: 6px 3px;
	padding: 0;
}

.card-reporter {
	width: 309px;
}

.card-section { 
	width: 100%;
	border-bottom-width: 1px;
	box-sizing: border-box;	
}

.card-graph {
	vertical-align: top;
}

#brokenline-graph {
	background-color: #26A88E;
}

.card > .card-section:last-child {
	border-bottom: none;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.card.card-graph > .card-section:last-child  div {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}


.card-section-header {
	padding: 12px;
	color: #666;
}

.card-section-identity  {
	position: relative;
}

.card-section-identity > .name {
	padding: 12px;
	padding-bottom: 0px;
}

.card-section-identity > .email {
	margin-top: 5px;
	padding: 12px;
	padding-top: 0px;
}

.card-section-identity > .favorite {
	position: absolute;
	top: 8px;
	right: 40px;
	width: 20px;
	height: 20px;	
}
.card-section-identity > .favorite.invisible {
	visibility: hidden;
}

.card-section-identity > .press-tag {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 20px;
	height: 20px;
}

.card-section-headline {
	bottom: 0;
	text-overflow-mode: ellipsis;
}

.card-section-headline > .headline {
	padding: 12px;
}

/* Theme rule */
.card {
	-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.25);
	border-style: solid;
	border-color: rgba(255,255,255,.1);
	border-radius: 3px;
	background: #fff;
}

.card-section { 
	border-bottom-style: solid;
	border-bottom-color: #DDD;
}
.card-section-identity > .name > a {
	font-size: 18px;
	text-decoration: none;
	color: #666;
} 

.card-section-identity > .email {	
	font-size: 12px;
	color: #BBB;
}

.card-section-identity > .favorite {
	font-size: 24px;
}

.card-section-identity > .favorite.on {
	color: #FD2;
}

.card-section-identity > .favorite.off {
	color: #BBB;
}

.card-section-identity > .favorite:hover {
	color: #ED9;
	cursor: pointer;
}

.card-section-identity > .press-tag {	
	border-radius: 10px;
	background: #DDD;		
}

.card-section-headline {
	color: #666;
}

.card-section-headline > .headline {
	font-weight: 400;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;
}

.favorite-card-blur {
	background: rgba(255,255,255,0.3);
	color: #ccc;
}
.card-section-identity > .press-tag.hankyung-blur {
	background: rgba(19,60,110,0.3);	
}
.card-section-identity > .press-tag.donga-blur {
	background: rgba(251,65,42,0.3);	
}
.card-section-identity > .press-tag.hani-blur {
	background: rgba(0,140,133,0.3);	
}
.card-section-identity > .press-tag.joongang-blur {
	background: rgba(255,170,51,0.3);	
}


/* Press Color */
.card-section-identity > .press-tag.hankyung {
	background: rgb(19,60,110);	
}
.card-section-identity > .press-tag.donga {
	background: rgb(251,65,42);	
}
.card-section-identity > .press-tag.hani {
	background: rgb(0,140,133);	
}
.card-section-identity > .press-tag.joongang {
	background: rgb(255,170,51);	
}

