@CHARSET "UTF-8";
/* Base rule */
body{
	-webkit-font-smoothing : antialiased;
}
.card {
	-webkit-user-select: NONE;
	-khtml-user-select: NONE;
	-moz-user-select: NONE;
	-ms-user-select: NONE;
	user-select: NONE;
}

/* Layout rule */
.card {
	border-width: 1px;
	margin: 6px 3px;
	padding: 0;
}

.card-reporter {
	width: 309px;
	display: inline-block;
	position: relative;
}

.card-section { 
	width: 100%;
	border-bottom-width: 1px;
	box-sizing: border-box;	
}

.card-graph {
	vertical-align: top;
}

#brokenline-graph {
	background-color: #26A88E;
}

.card > .card-section:last-child {
	border-bottom: none;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.card.card-graph > .card-section:last-child  div {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}


.card-section-header {
	padding: 12px;
	color: #666;
}

.card-section-identity  {
	position: relative;
}

.card-section-identity > .name {
	padding: 12px;
	padding-bottom: 0px;
}

.card-section-identity > .email {
	margin-top: 5px;
	padding: 12px;
	padding-top: 0px;
}

.card-section-identity > .favorite {
	position: absolute;
	display: table-cell;
	top: 12px;
	right: 38px;
	width: 25px;
	height: 25px;
	vertical-align: middle;	
}

.card-section-identity .star {
	height: 20px;
	width: 20px;
	margin: 0 auto;
	background-size: 20px 20px;
}

.card-section-identity .star.invisible {
	visibility: hidden;
}

.card-section-identity > .press-tag {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 20px;
	height: 20px;
}

.card-section-headline {
	bottom: 0;
	text-overflow-mode: ellipsis;
}

.card-section-headline > .headline {
	padding: 12px;
}

/* Theme rule */
.card {
	-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.25);
	border-style: solid;
	border-color: rgba(255,255,255,.1);
	border-radius: 3px;
	background: #fff;
}

.card-section { 
	border-bottom-style: solid;
	border-bottom-color: #DDD;
}
.card-section-identity > .name > a {
	font-size: 18px;
	text-decoration: none;
	color: #666;
} 

.card-section-identity > .email {	
	font-size: 12px;
	color: #BBB;
}

.card-section-identity .star {
	-webkit-transition: -webkit-transform 0.5s ease; 
    -moz-transition: -moz-transform 0.5s ease;    
    -o-transition: transform 0.5s ease;    
    transition: transform 0.5s ease;
    /* -webkit-transform : translateZ(0);
    transform : translateZ(0); */
    
    background-image: url('/image/graystar.png');
	background-repeat: no-repeat;
}

.card-section-identity .star:hover {
	background-image: url('/image/lemonstar.png');
	cursor: pointer;
}
.card-section-identity .star.pumping {
	-webkit-transform: scale(1.2,1.2); /* Chrome, Safari, Opera */
    -moz-transform: scale(1.2,1.2); /* Chrome, Safari, Opera */
	-ms-transform: scale(1.2,1.2); /* IE 9 */
	transform: scale(1.2,1.2);
}
.card-section-identity .star.on {
	background-image: url('/image/yellowstar.png');
}

.card-section-identity > .press-tag {	
	border-radius: 10px;
	background: #DDD;		
}

.card-section-headline {
	color: #666;
}

.card-section-headline > .headline {
	font-weight: 400;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;
}

/* Press Color */
.card-section-identity > .press-tag.hankyung {
	background: rgb(19,60,110);	
}
.card-section-identity > .press-tag.donga {
	background: rgb(251,65,42);	
}
.card-section-identity > .press-tag.hani {
	background: rgb(0,140,133);	
}
.card-section-identity > .press-tag.joongang {
	background: rgb(255,170,51);	
}

