@charset "UTF-8";
/* TEST CSS */
.test-outline {
	border:1px solid #ccc;
}

/* WHOLE CHUNK */
.wrap {
	position: relative;
	background-color: rgba(0,0,0,.1);
	margin: 0;
	min-height: 100%;
	min-width: 980px;
	width: 1007px;
}

.viewport {
	min-height: 100%;
	position: relative;
	width: 100%;
}

.header {
	background: #f5f5f5;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
	width: 100%;
	height: 50px;
}

.container {
	display: block;
	background: transparent;
	margin: 0 auto;
	width: 960px;
	top: 50px;
}

.footer {
	display: block;
	position: absolute;
	bottom: 0;
	background: #f2f2f2;
	border-top: 1px solid #CFCFCF;
	width: 100%;
	height: 50px;
}

/* LOGO */
.logo-container {
	margin-top: 40px;
	background: transparent;
	text-align: center;
}

.logo-image {
	height: 210px;
	opacity: .4;
}

/* SEARCH QUERY INPUT : Fluid Text Input, fixed Submit Button */
/* SEARCH CONTAINER */
.search-container {
	width: 500px;
	height: 40px;  /* Search Component height */
	margin: 20px auto;
    background-color: white;
	border: 2px solid #D8D8D8;
	padding-right: 66px;  /* Right Column width */
}

.search-container .column {
  	position: relative;
	float: left;
	height: 100%;
}

.search-container:hover {
	border: 2px solid #B3B3B3;
}

.search-container > form > * {
	vertical-align: middle;
}

/* SEARCH ENTRY : fluid Column */
.search-entry  {
    width: 100%;
}

.query-entry {
	1font-size: 1em;
	width: 100%;
}

.text-entry {
	border: 0;
	outline: none;
	background-color: transparent;
	-webkit-appearance: none;
	height: 36px;  /* Search Component height - 2 */
	font-size: 22px;
}

/* SEARCH BUTTON : fixed Column */
.search-button {
	width: 66px;          /* Right Column width */
  	margin-right: -66px;  /* Right Column width */
}

.search-button > input[type='submit'] {
	background-color: #4882FD;
	border: 0 none;
	font-size: .9em;
	color: #fff;
	outline: none;
	margin: 0;
	width: 100%;
	height: 36px;  /* Search Component height - 2 */
}

.search-button > input[type='submit']:hover {
	-webkit-box-shadow: 1px 1px 1px 0 rgba(50,50,50,0.39);
	-moz-box-shadow: 1px 1px 1px 0 rgba(50,50,50,0.39);
	box-shadow: 1px 1px 1px 0 rgba(50,50,50,0.39);
}

.search-button > input[type='submit']:active {
	background-color: #3872DD;

	-webkit-box-shadow: inset 1px 1px 1px 0 rgba(50,50,50,0.39);
	-moz-box-shadow: inset 1px 1px 1px 0 rgba(50,50,50,0.39);
	box-shadow: inset 1px 1px 1px 0 rgba(50,50,50,0.39);
}

/* SEARCH RESULT CONTAINER */
.search-result {
	padding-bottom: 70px;
}

/* SEARCH RESULT ITEM */
.card {
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 180px;
	width: 310px;
	border: 1px solid silver;
	background: #fff;
	margin: 6px 3px;
	padding: 5px;
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 3px 0 rgba(50,50,50,0.31);
	-moz-box-shadow: 1px 1px 3px 0 rgba(50,50,50,0.31);
	box-shadow: 1px 1px 3px 0 rgba(50,50,50,0.31);
	transition: height .3s;
	-webkit-user-select: NONE;
	-khtml-user-select: NONE;
	-moz-user-select: NONE;
	-ms-user-select: NONE;
	user-select: NONE;
}

.card > .email {
	font-size: 28px;
	color: #444;
}

.card > .sub-email {
	font-size: 16px;
	color: #888;
	margin-top: 5px;
}

.card > .article-container {
	position: absolute;
	width: 100%;
	bottom: 0;
	margin-bottom: 5px;	
}

.card > .article-container > a{
	text-decoration: none;
}

.press-name {
	text-align: right;
	font-size: 16px;
	color: #888;
	margin-top: 5px;	
}
