@charset "UTF-8";

/* WHOLE CHUNK */
.form {
	
}

.list {
	display: inline;
	float: left
}

.latest{
	overflow: auto;
	list-style-type: none;
}

.list{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 10px;
}

.list:hover{
	border: 1px red solid;
}

.article_title{
	height: 120px;
	width: 150px;
	background-color: #F8DD40;
	color: white;
	font-size: 17px;
	font-weight: bolder;
	padding: 20px;
}
.article_datetime{
	height: 50px;
	width: 150px;
	background-color: white;
	font-size: 16px;
	padding: 10px;
	text-align: right;
	font-weight: bolder;
}

a:link{
	text-decoration: none;
	color: white;
}

a:visited{
	color: white;
}


